# Env
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.venv
venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
.nuxt/
.output/
.data/
dist/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Certs / secrets
*.pem
*.key
*.crt

tests/
test_*.http
