cursos.henriquegoularte.com.br {
    encode gzip zstd

    request_body {
        max_size 50MB
    }

    @backend path /api/* /dj-admin/*
    handle @backend {
        reverse_proxy backend:8000
    }

    handle /static/* {
        root * /var/www
        file_server
    }

    handle {
        reverse_proxy frontend:3000
    }
}

desafio.henriquegoularte.com.br {
    encode gzip zstd

    request_body {
        max_size 10MB
    }

    @backend path /v1/api/* /admin/* /static/*
    handle @backend {
        reverse_proxy desafio-backend:8000
    }

    handle {
        root * /var/www/desafio
        try_files {path} {path}/ /index.html
        file_server
    }
}
